# Python
__pycache__/
*.py[cod]
*.pth
*.pth.tar
venv/
.venv/
.env

# Dataset 
database/
mvtec_tile/
mvtec_anomaly_detection/
dataset/
*.zip
*.tar.gz
# Ignore uploaded files in the backend microservice
backend/uploads/*

# Keep the folder structure intact on Git by making sure .gitkeep isn't ignored
!backend/uploads/.gitkeep/

# Jupyter checkpoints
.ipynb_checkpoints/

# Node.js
node_modules/
.env

# React Native
.expo/
dist/

# OS files
.DS_Store
Thumbs.db